*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fb;
    color: #333;
    line-height: 1.6;
}
/* ================= HEADER ================= */
header{
    background-color: #172554;
    color: white;
    padding: 20px 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    font-size: 28px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
   
    font-size: 16px;
}
nav a {
    color: white;
    text-decoration: none;
    
}
nav a:hover {
    color: #93c5fd;
}
/* ================= COMMON SECTION ================= */
section {
    padding: 70px 100px;
}
section > h2 {
    text-align: center;
    font-size: 32px;
    color: #172554;
    margin-bottom: 40px;
}
/* ================= ABOUT ================= */
#about {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-color: white;
}
#about-image img {
    width: 200px;
    height: 250px;
    border-radius: 10%;
    border: 4px solid #0b2f7c;
}
#about-content {
    width: 65%;
} 
#about-content h2 {
    color: #2563eb;
    font-size: 18px;
    margin-bottom: 10px;
}
#about-content h3 {
    font-size: 35px;
    color: #172554;
    margin-bottom: 15px;
}
#about-content p {
    font-size: 17px;
}
/* ================= EDUCATION ================= */
#education-box {
    display: flex;
    justify-content: center;
  
    gap: 25px;
    flex-wrap: wrap;
}
.education-card {
    background-color: white;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
     transition: 0.3s;
}
.education-card:hover{
    transform: translateY(-8px);
}
.education-card h3 {
    color: #2563eb;
    margin-bottom: 10px;
}
/* ================= SKILLS ================= */
#skills {
    background-color: white;
}
#skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.skill {
    width: 200px;
    padding: 25px;
    text-align: center;
    background-color: #f5f7fb;
    border-radius: 12px;
    border: 2px solid #dbeafe;
    transition: 0.3s;
}
.skill h3 {
    color: #2563eb;
    margin-bottom: 10px;
}
.skill:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
/* ================= CONTACT ================= */
#contact-box {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#contact-box p {
    margin: 15px 0;
}
#contact-box a {
    color: #2563eb;
    text-decoration: none;
}
#contact-box a:hover {
    text-decoration: underline;
}
/* ================= FOOTER ================= */
footer {
    background-color: #172554;
    color: white;
    text-align: center;
    padding: 20px;
}
